html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

#generale{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 5vh;
}
hr{
  width: 90vw;
  color: #bebebe;
  opacity: 50%;
  margin-top: 2vh;
}

#world_map{
  width: 90vw;
  height: 45vw;
  background-color: aliceblue;
  border-radius: 2vw;
  
  
}

#contenitore{
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 1vw;
  border-radius: 2vw;
}

#side_container{
  position: absolute;
  width: 15vw;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.092);
  backdrop-filter: blur(8px);
  top: 12%;
  left: 2%;
  border-radius: 10px;
  box-shadow: 0.2em 0.2em 0.5em #bebebe;
  opacity: 0;
  transition: 0.5s ease;
}

#menu{
  position: absolute;
  display: flex;
  align-items: center;
  top: 5%;
  left: 2%;
  height: fit-content;
  width: fit-content;
  background-color: white;
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 20px;
  border-top: solid 1px #EBEBEB;
  border-left: solid 1px #D6D6D6;
  box-shadow: 0.2em 0.2em 0.5em #D6D6D6;
  transition: 0.5s ease;
  user-select: none;

}

#menu svg{
  margin-right: 0.5em;
  fill: grey;
  transition: 0.5s ease;


}

#menu:hover{
  background-color: #bebebe;
  color: aliceblue;
}

#menu:hover svg{
  fill: aliceblue;
}

#menu:hover + #side_container{
  opacity: 1;
}

#buttons{
position: relative;
display: flex;
width: 90vw;
height: fit-content;
padding: 1vw;
justify-content: center;
}

.checkmark{
  position: relative;
  cursor: pointer;
  border-top: solid 1px #EBEBEB;
  border-left: solid 1px #D6D6D6;
  padding: 1em 1em 1em 1.5em;
  margin-right: 1em;
  border-radius: 20px;
  box-shadow: 0.2em 0.2em 0.5em #D6D6D6;
  transition: 0.5s ease;
}

input{
  opacity: 0;
  width: 0;
  height: 0;
}

.input_style{
  position: absolute;
  cursor: pointer;
  top: 32%;
  left: 5%;
  width: 1em;
  height: 1em;
  background-color: grey;
  border-radius: 50%;
  transition: 0.5s ease;
}

.checkmark:hover{
  background-color: #bebebe;
}

.checkmark:hover .input_style{
  background-color: #610b0b;

}

input:checked + .input_style{
  background-color: #d94141;

}


